#container {
    width: 1000px;
    height: 800px;
    border: 3px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: [col-0] 15% [col-1] 15% [col-2] 15% [col-3] 15% [col-4] 15% [col-5] 15% [col-6];
    grid-template-rows: [row-0] 20% [row-1] 20% [row-2] 20% [row-3] 20% [row-4] 6% [row-5];
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: space-around;
    align-content: space-around;
}

#title {
    grid-column: col-0 / col-2;
    grid-row: row-4 / row-5;
}

#teacher {
    grid-column: col-2 / col-4;
    grid-row: row-4 / row-5;
    width: 98%;
    border-radius: 5px;
    border: 2px solid black;
}

.box {
    display: table;
}

.box p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#return {
    grid-column: col-5 / col-6;
    grid-row: row-4 / row-5;
    width: 98%;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}

.group label {
    cursor: pointer;
    float: left;
    width: 47%;
    height: 32%;
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
}

.seat {
    display: none;
}

.seat:not(:checked)+label:hover {
    box-shadow: 0px 1px 3px;
}

.seat:checked+label {
    background-color: beige;
    box-shadow: inset 0px 0px 3px;
}

.seat:checked+label:after {
    content: "出席";
}
